<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style type="text/css">
@media screen, print {
    body {
        font-family: {{ standardFamilyFont }} ! important;
        font-size: {{ mediumFontSize }}pt ! important;
        color: #31363b ! important;
        background: #fcfcfc ! important;
    }
    a {
        color: #2980b9 ! important;
    }
    .headerbox {
        color: rgb(120, 125, 129) ! important;
    }
    .headertitle a {
        color: inherit ! important;
        text-decoration: none;
    }
    .headertitle {
        color: rgb(100,100,100) ! important;
    }
    .header, .headertitle {
        font-weight: bold;
        padding: 2px;
    }
    .headimage {
        float: right;
        margin-left: 5px;
        max-width: 150px;
        height: auto;
    }
    .content {
        display: block;
        margin-bottom: 0.8em;
    }
    .content > P:first-child, .content > DIV:first-child {
        margin-top: 1px;
    }
    .content > BR:first-child {
        display: none;
    }
}

</style>
<title>.</title>
</head>
<body>
<div class="headertitle" dir="{{ applicationDir }}">{{ nodeTitle }} {{nodeCount}}</div>
</body>
</html>
