<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style type="text/css">
@media screen, print {
    body {
        font-family: {{ standardFamilyFont }} ! important;
        font-size: {{ mediumFontSize }}pt ! important;
        color: #31363b ! important;
        background: #fcfcfc ! important;
    }
    a {
        color: #2980b9 ! important;
    }
    .headerbox {
        color: rgb(120, 125, 129) ! important;
    }
    .headertitle a {
        color: inherit ! important;
        text-decoration: none;
    }
    .headertitle {
        color: rgb(100,100,100) ! important;
    }
    .header, .headertitle {
        font-weight: bold;
        padding: 2px;
    }
    .headimage {
        float: right;
        margin-left: 5px;
        max-width: 150px;
        height: auto;
    }
    .content {
        display: block;
        margin-bottom: 0.8em;
    }
    .content > P:first-child, .content > DIV:first-child {
        margin-top: 1px;
    }
    .content > BR:first-child {
        display: none;
    }
}
</style>
<title>.</title>
</head>
<body>
{% if not loadExternalReference %}
    <p class="advisory">
        {% i18n_var "<b>Note:</b> For security reasons, external reference is blocked (See configure dialog)." as msg %}
        {{ msg|safe }}
    </p>
{% endif %}

{% if articles %}
{% for article in articles %}

  <div class="headerbox">
  {% if article.imageFeed %}
  {{ article.imageFeed|safe }}
  {% endif %}

  {% if article.strippedTitle %}
  <div class="headertitle" dir="{{ applicationDir }}"><a href="{{ article.articleLinkUrl }}">{{ article.strippedTitle|safe }}</a></div>
  {% endif %}

  {%if article.articlePubDate %}
  <div><span class="header" dir="{{ applicationDir }}">{{ dateI18n }}:</span>
      {{ article.articlePubDate }}</div>
  {% endif %}

  {% if article.author %}
  <div><span class="header" dir="{{ applicationDir }}">{{ authorI18n }}:</span>
      {{ article.author|safe }}</div>
  {% endif %}

  {% if article.enclosure %}
  <div><span class="header" dir="{{ applicationDir }}">{{ enclosureI18n }}:</span>
      {{ article.enclosure|safe }}</div>
  {% endif %}
  </div>


  {% if article.content %}
  <hr>
  <div dir="{{ applicationDir }}"><span class="content">{{ article.content|safe }}</span></div>
  {% endif %}

  {% if article.articleCompleteStoryLink %}
  <hr>
  <div><a class="contentlink" href="{{ article.articleCompleteStoryLink }}">{{ completeStoryI18n }}</a></div>
  {% endif %}
{% endfor %}
{% endif %}

</body>
</html>
